In [1]:
# alpha: initial import statements
import pandas as pd
from sklearn.model_selection import train_test_split as tts
# from sklearn.preprocessing import minmax_scale as mms
!pip install category_encoders
import category_encoders as ce
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import make_pipeline
from sklearn.metrics import accuracy_score

Requirement already satisfied: category_encoders in c:\users\jhump\anaconda3\lib\site-packages (1.3.0)
Requirement already satisfied: statsmodels>=0.6.1 in c:\users\jhump\anaconda3\lib\site-packages (from category_encoders) (0.9.0)
Requirement already satisfied: patsy>=0.4.1 in c:\users\jhump\anaconda3\lib\site-packages (from category_encoders) (0.5.1)
Requirement already satisfied: scipy>=0.17.0 in c:\users\jhump\anaconda3\lib\site-packages (from category_encoders) (1.1.0)
Requirement already satisfied: numpy>=1.11.1 in c:\users\jhump\anaconda3\lib\site-packages (from category_encoders) (1.15.4)
Requirement already satisfied: scikit-learn>=0.17.1 in c:\users\jhump\anaconda3\lib\site-packages (from category_encoders) (0.20.1)
Requirement already satisfied: pandas>=0.20.1 in c:\users\jhump\anaconda3\lib\site-packages (from category_encoders) (0.24.0)
Requirement already satisfied: six in c:\users\jhump\anaconda3\lib\site-packages (from patsy>=0.4.1->category_encoders) (1.12.0)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\users\jhump\anaconda3\lib\site-packages (from pandas>=0.20.1->category_encoders) (2.7.5)
Requirement already satisfied: pytz>=2011k in c:\users\jhump\anaconda3\lib\site-packages (from pandas>=0.20.1->category_encoders) (2018.9)

In [2]:
# bravo: give background, then load and inspect data
# here's a URL for background: https://www.kaggle.com/t/32b89e93d8a44743983a0ab1c19c85f3
# Q: "Can you predict which [Tanzanian] water pumps are faulty?"
# H_null: something like "all features are equally likely to make H2O unclean and/or non-potable"
# H_one: akin to "one or a group of features enables high-accuracy prediction of faulty pumps"

kaggle_path = 'C:\\Users\\jhump\\Desktop\\Desktop_professional\\LSDS\\Full_Course\\train_features.csv'

df = pd.read_csv(kaggle_path)
print(df.shape)
df.head()

(59400, 40)

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59400 entries, 0 to 59399
Data columns (total 40 columns):
id                       59400 non-null int64
amount_tsh               59400 non-null float64
date_recorded            59400 non-null object
funder                   55765 non-null object
gps_height               59400 non-null int64
installer                55745 non-null object
longitude                59400 non-null float64
latitude                 59400 non-null float64
wpt_name                 59400 non-null object
num_private              59400 non-null int64
basin                    59400 non-null object
subvillage               59029 non-null object
region                   59400 non-null object
region_code              59400 non-null int64
district_code            59400 non-null int64
lga                      59400 non-null object
ward                     59400 non-null object
population               59400 non-null int64
public_meeting           56066 non-null object
recorded_by              59400 non-null object
scheme_management        55523 non-null object
scheme_name              31234 non-null object
permit                   56344 non-null object
construction_year        59400 non-null int64
extraction_type          59400 non-null object
extraction_type_group    59400 non-null object
extraction_type_class    59400 non-null object
management               59400 non-null object
management_group         59400 non-null object
payment                  59400 non-null object
payment_type             59400 non-null object
water_quality            59400 non-null object
quality_group            59400 non-null object
quantity                 59400 non-null object
quantity_group           59400 non-null object
source                   59400 non-null object
source_type              59400 non-null object
source_class             59400 non-null object
waterpoint_type          59400 non-null object
waterpoint_type_group    59400 non-null object
dtypes: float64(3), int64(7), object(30)
memory usage: 18.1+ MB

In [ ]:
# charlie: check data for nan's
df.isna().sum()

In [4]:
df1 = df.copy()

# source for following: https://stackoverflow.com/questions/22470690/get-list-of-pandas-dataframe-columns-based-on-data-type
df1_dtype_groups = df1.columns.to_series().groupby(df1.dtypes).groups
df1_dtype_groups

{dtype('int64'): Index(['id', 'gps_height', 'num_private', 'region_code', 'district_code',
        'population', 'construction_year'],
       dtype='object'),
 dtype('float64'): Index(['amount_tsh', 'longitude', 'latitude'], dtype='object'),
 dtype('O'): Index(['date_recorded', 'funder', 'installer', 'wpt_name', 'basin',
        'subvillage', 'region', 'lga', 'ward', 'public_meeting', 'recorded_by',
        'scheme_management', 'scheme_name', 'permit', 'extraction_type',
        'extraction_type_group', 'extraction_type_class', 'management',
        'management_group', 'payment', 'payment_type', 'water_quality',
        'quality_group', 'quantity', 'quantity_group', 'source', 'source_type',
        'source_class', 'waterpoint_type', 'waterpoint_type_group'],
       dtype='object')}

In [5]:
# what features will show whether or not H2O is clean and potable?
# let's investigate 'water_quality'
df1.water_quality.unique()  # questions: merge both 'abandoned' strings into one? what to do with 'unknown'?

array(['soft', 'salty', 'milky', 'unknown', 'fluoride', 'coloured',
       'salty abandoned', 'fluoride abandoned'], dtype=object)

In [6]:
# delta: preprocess data
# CREDIT for this function, to Ryan Herr/LSDS

def train_validation_test_split(
    X, y, train_size=0.8, val_size=0.1, test_size=0.1, 
    random_state=None, shuffle=True):
        
    assert train_size + val_size + test_size == 1
    
    X_train_val, X_test, y_train_val, y_test = tts(X, y, test_size=test_size,
                                                   random_state=random_state, shuffle=shuffle)
    
    X_train, X_val, y_train, y_val = tts(X_train_val, y_train_val,
                                         test_size=val_size/(train_size+val_size), 
                                         random_state=random_state, shuffle=shuffle)
    print('X_train is:', X_)
    return X_train, X_val, X_test, y_train, y_val, y_test

In [7]:
# for baseline model, X might include 'region_code', 'population', 'construction_year'
X = df[['region_code', 'population', 'construction_year']]
# call 'mms' on X after creating X namespace
# mms(X)
# best target for y seems to be 'water_quality'
y = df.water_quality

train_validation_test_split(X, y)
# pd.get_dummies(df)

(       region_code  population  construction_year
 43298           16         500               2007
 51822           10         100               1983
 24149            4         400               1990
 3026             8         300                  0
 204             18           0                  0
 41626           20         350               1999
 20952           80         269               2004
 40886           99         400               1978
 12270            1           0                  0
 11429           12           0                  0
 34635           20         300               2009
 8439            20         253               1978
 54077           15          30               1981
 12508           16         355               1992
 12550           13           1               1990
 27978           17           0                  0
 56717           21         200               2000
 28642            1           0                  0
 48131           12           0                  0
 17251            1           0                  0
 44596           12           0                  0
 55877           12           0                  0
 9453             1           0                  0
 49857            4           1               2009
 52567           10           0               2009
 31309            3         240               1967
 42206           12           0                  0
 5470            11         120               2000
 43826           19           0                  0
 11274            2         200               1982
 ...            ...         ...                ...
 31363           15       10000               2006
 28815            5           1               2010
 36227           21         200               1997
 54799           20         250               1997
 50975           12           0                  0
 34542           11           0               2002
 53934            4         800               2008
 44975            2         310               2008
 57769           12           0                  0
 2847            10           0               2006
 22561            6           1               2010
 46357           17           0                  0
 51938            4          40               2004
 34263           12           0                  0
 39280           80         400               2008
 48212           12           0                  0
 37578           21         162               1995
 30321           13           1               2010
 44617           60          12               2008
 26734           16         250               2012
 17125           80           1               2010
 57034           19           0                  0
 4419            90         500               1977
 39670           18           0                  0
 26680           16         500               1990
 45041           16         650               2006
 24041           18           0                  0
 14806           15           1               1984
 17026           16         120               1970
 31881           17           0                  0

 [47520 rows x 3 columns],        region_code  population  construction_year
 52847           16         450               1990
 5091            17           0                  0
 9629             6        1000               1978
 20718           10         360               1999
 30100           18           0                  0
 14121           18           0                  0
 15862            1           0                  0
 39479           20         560               2010
 24074           10           1               2004
 56012            6         130               2007
 1679            17           0                  0
 13926           13         275               2008
 17867           19           0                  0
 51185           17           0                  0
 42368           19         300               1982
 16976           11           1               1982
 25130           11           1               2009
 30454           12           0                  0
 27149           10         250               1997
 9996            19           0                  0
 10850           11           1               1987
 31205            3           1               2002
 16739           11          52               1986
 49881            3           1               2001
 42990           14           0                  0
 58994           19           0                  0
 50686            4           1               1975
 48964            2         150               1980
 35571            2           1               2000
 51599           17           0                  0
 ...            ...         ...                ...
 58342            5         150               1982
 6023             7          50               2000
 5170            15         150               1986
 39896            2         150               1998
 1403             3           1               2011
 3895             4          80               1981
 40609            5          80               2009
 57475           11           1               2008
 6603            15         500               1983
 36264            5         550               1996
 1913             3           1               1972
 31258            4          60               1999
 24984           11          25               2000
 4609            11           1               1992
 1784            18           0                  0
 47648            1           0                  0
 29944           10          69               1992
 17568           16         750               2004
 30418            6           4               2010
 58813           13         198               2010
 23505            1           0                  0
 56466            1           0                  0
 22877           21         400               1993
 10820            3           1               1976
 30200            2         420               1973
 3058            14           0                  0
 4796            14           0                  0
 13792           12           0                  0
 44071           12           0                  0
 5912            16         170               2003

 [5940 rows x 3 columns],        region_code  population  construction_year
 38126            5         230               2004
 41678            8         420               1976
 37453            4         100               2009
 23750           21         421               2006
 49068            2         500               2008
 29913           19           0                  0
 7026            12           0                  0
 14036           10          80               2005
 17682            2         350               2007
 21857           17           0                  0
 2709            10           0               2007
 6876             1           0                  0
 46390           18           0                  0
 14787            1           0                  0
 32557            1           0                  0
 57928           11          35               2009
 45179            9           1               1982
 23927           11         100               1997
 46192           19           0                  0
 45385            7         239               2010
 5420            17           0                  0
 2066             5           1               1993
 10687            7          56               2000
 14072           19           0                  0
 13180            1           0                  0
 30652           19           0                  0
 16492            3          10               2008
 30861            3           1               2009
 44580            4           1               2008
 20299           99          50               1971
 ...            ...         ...                ...
 53182           18           0                  0
 37695           14           0                  0
 56123           19           0                  0
 44769           12           0                  0
 58202            5           1               1970
 38295            3          25               1999
 36042           17           0                  0
 24753           16         450               2005
 55581            8         390                  0
 26540            5         250               1982
 51299            4        5000               1992
 29755            5         150               2005
 53714           19        1500               2000
 32341           10         156               1992
 17249            6         100               2004
 10279           17           0                  0
 8563            18           0                  0
 23262           11          45               2004
 6325            18           0                  0
 9873             7         200               2000
 4883             3         225               2010
 33630           10           0               2009
 16282           15         300               1994
 50714            8         500               1985
 28957           16         370               2002
 13876           19           0                  0
 46884           12           0                  0
 13896           11           1               1987
 4551             6         120               2003
 30099            3         225               2008

 [5940 rows x 3 columns], 43298       salty
 51822        soft
 24149        soft
 3026        salty
 204      coloured
 41626       salty
 20952        soft
 40886        soft
 12270       salty
 11429        soft
 34635       salty
 8439         soft
 54077        soft
 12508        soft
 12550     unknown
 27978       milky
 56717        soft
 28642        soft
 48131        soft
 17251       salty
 44596        soft
 55877        soft
 9453         soft
 49857       salty
 52567        soft
 31309        soft
 42206        soft
 5470         soft
 43826       salty
 11274        soft
            ...
 31363        soft
 28815        soft
 36227       salty
 54799       salty
 50975        soft
 34542        soft
 53934       salty
 44975        soft
 57769        soft
 2847         soft
 22561        soft
 46357        soft
 51938       salty
 34263        soft
 39280       salty
 48212        soft
 37578        soft
 30321     unknown
 44617       salty
 26734        soft
 17125        soft
 57034        soft
 4419         soft
 39670        soft
 26680        soft
 45041        soft
 24041        soft
 14806     unknown
 17026        soft
 31881        soft
 Name: water_quality, Length: 47520, dtype: object, 52847               soft
 5091                soft
 9629                soft
 20718               soft
 30100               soft
 14121               soft
 15862              salty
 39479              salty
 24074               soft
 56012               soft
 1679                soft
 13926               soft
 17867            unknown
 51185            unknown
 42368               soft
 16976               soft
 25130               soft
 30454               soft
 27149               soft
 9996                soft
 10850               soft
 31205               soft
 16739               soft
 49881               soft
 42990              salty
 58994               soft
 50686               soft
 48964               soft
 35571               soft
 51599               soft
               ...
 58342               soft
 6023     salty abandoned
 5170                soft
 39896               soft
 1403                soft
 3895                soft
 40609               soft
 57475               soft
 6603                soft
 36264               soft
 1913                soft
 31258               soft
 24984               soft
 4609                soft
 1784               salty
 47648               soft
 29944               soft
 17568               soft
 30418               soft
 58813               soft
 23505              salty
 56466               soft
 22877               soft
 10820               soft
 30200               soft
 3058                soft
 4796            coloured
 13792               soft
 44071           coloured
 5912                soft
 Name: water_quality, Length: 5940, dtype: object, 38126        soft
 41678       salty
 37453        soft
 23750       salty
 49068        soft
 29913        soft
 7026     coloured
 14036        soft
 17682        soft
 21857        soft
 2709         soft
 6876         soft
 46390       salty
 14787        soft
 32557        soft
 57928        soft
 45179        soft
 23927        soft
 46192        soft
 45385        soft
 5420         soft
 2066         soft
 10687       salty
 14072       salty
 13180        soft
 30652     unknown
 16492        soft
 30861        soft
 44580       salty
 20299        soft
            ...
 53182        soft
 37695        soft
 56123       salty
 44769        soft
 58202       salty
 38295        soft
 36042        soft
 24753        soft
 55581     unknown
 26540        soft
 51299        soft
 29755        soft
 53714        soft
 32341        soft
 17249        soft
 10279        soft
 8563         soft
 23262        soft
 6325         soft
 9873         soft
 4883         soft
 33630        soft
 16282        soft
 50714       salty
 28957        soft
 13876       salty
 46884        soft
 13896        soft
 4551         soft
 30099        soft
 Name: water_quality, Length: 5940, dtype: object)

In [9]:
# echo: fit, validate, and present model
# 2019-02-04 comment: I believe that some sort of advanced regression will be best here, but TBD
pipeline = make_pipeline(
    ce.OneHotEncoder(use_cat_names=True), 
    StandardScaler(), 
    LogisticRegression(solver='lbfgs')
)

pipeline.fit(X_train, y_train)
y_pred = pipeline.predict(X_val)
accuracy_score(y_val, y_pred)

NameError: name 'X_train' is not defined

In [ ]:
# foxtrot: analyze and interpret model predictions