In [1]:
# alpha: initial import statements
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split as tts
from sklearn.preprocessing import minmax_scale as mms
# !pip install category_encoders
import category_encoders as ce
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import make_pipeline
from sklearn.metrics import accuracy_score
from sklearn.svm.libsvm import predict
import random

In [2]:
# bravo: give background, then load and inspect data
# here's a URL for background: https://www.kaggle.com/t/32b89e93d8a44743983a0ab1c19c85f3
# Q: "Can you predict which [Tanzanian] water pumps are faulty?"
# H_null: something like "all features are equally likely to make H2O unclean and/or non-potable"
# H_one: akin to "one or a group of features enables high-accuracy prediction of faulty pumps"

kaggle_path = 'C:\\Users\\jhump\\Desktop\\Desktop_professional\\LSDS\\Full_Course\\train_features.csv'

df = pd.read_csv(kaggle_path)
print(df.shape)
df.head()

(59400, 40)

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59400 entries, 0 to 59399
Data columns (total 40 columns):
id                       59400 non-null int64
amount_tsh               59400 non-null float64
date_recorded            59400 non-null object
funder                   55765 non-null object
gps_height               59400 non-null int64
installer                55745 non-null object
longitude                59400 non-null float64
latitude                 59400 non-null float64
wpt_name                 59400 non-null object
num_private              59400 non-null int64
basin                    59400 non-null object
subvillage               59029 non-null object
region                   59400 non-null object
region_code              59400 non-null int64
district_code            59400 non-null int64
lga                      59400 non-null object
ward                     59400 non-null object
population               59400 non-null int64
public_meeting           56066 non-null object
recorded_by              59400 non-null object
scheme_management        55523 non-null object
scheme_name              31234 non-null object
permit                   56344 non-null object
construction_year        59400 non-null int64
extraction_type          59400 non-null object
extraction_type_group    59400 non-null object
extraction_type_class    59400 non-null object
management               59400 non-null object
management_group         59400 non-null object
payment                  59400 non-null object
payment_type             59400 non-null object
water_quality            59400 non-null object
quality_group            59400 non-null object
quantity                 59400 non-null object
quantity_group           59400 non-null object
source                   59400 non-null object
source_type              59400 non-null object
source_class             59400 non-null object
waterpoint_type          59400 non-null object
waterpoint_type_group    59400 non-null object
dtypes: float64(3), int64(7), object(30)
memory usage: 18.1+ MB

In [4]:
# charlie: check data for nan's
df.isna().sum()

id                           0
amount_tsh                   0
date_recorded                0
funder                    3635
gps_height                   0
installer                 3655
longitude                    0
latitude                     0
wpt_name                     0
num_private                  0
basin                        0
subvillage                 371
region                       0
region_code                  0
district_code                0
lga                          0
ward                         0
population                   0
public_meeting            3334
recorded_by                  0
scheme_management         3877
scheme_name              28166
permit                    3056
construction_year            0
extraction_type              0
extraction_type_group        0
extraction_type_class        0
management                   0
management_group             0
payment                      0
payment_type                 0
water_quality                0
quality_group                0
quantity                     0
quantity_group               0
source                       0
source_type                  0
source_class                 0
waterpoint_type              0
waterpoint_type_group        0
dtype: int64

In [5]:
df1 = df.copy()

# source for following: https://stackoverflow.com/questions/22470690/get-list-of-pandas-dataframe-columns-based-on-data-type
df1_dtype_groups = df1.columns.to_series().groupby(df1.dtypes).groups
df1_dtype_groups

{dtype('int64'): Index(['id', 'gps_height', 'num_private', 'region_code', 'district_code',
        'population', 'construction_year'],
       dtype='object'),
 dtype('float64'): Index(['amount_tsh', 'longitude', 'latitude'], dtype='object'),
 dtype('O'): Index(['date_recorded', 'funder', 'installer', 'wpt_name', 'basin',
        'subvillage', 'region', 'lga', 'ward', 'public_meeting', 'recorded_by',
        'scheme_management', 'scheme_name', 'permit', 'extraction_type',
        'extraction_type_group', 'extraction_type_class', 'management',
        'management_group', 'payment', 'payment_type', 'water_quality',
        'quality_group', 'quantity', 'quantity_group', 'source', 'source_type',
        'source_class', 'waterpoint_type', 'waterpoint_type_group'],
       dtype='object')}

In [6]:
# what features will show whether or not H2O is clean and potable?
# let's investigate 'water_quality'
df1.water_quality.unique()  # questions: merge both 'abandoned' strings into one? what to do with 'unknown'?

array(['soft', 'salty', 'milky', 'unknown', 'fluoride', 'coloured',
       'salty abandoned', 'fluoride abandoned'], dtype=object)

In [7]:
# delta: preprocess data
# CREDIT for this function, to Ryan Herr/LSDS

def train_validation_test_split(X, y, train_size=0.8, val_size=0.1, test_size=0.1, 
                                random_state=None, shuffle=True):
    assert train_size + val_size + test_size == 1
    
    X_train_val, X_test, y_train_val, y_test = tts(X, y, test_size=test_size,
                                                   random_state=random_state, shuffle=shuffle)
    
    X_train, X_val, y_train, y_val = tts(X_train_val, y_train_val,
                                         test_size=val_size/(train_size+val_size), 
                                         random_state=random_state, shuffle=shuffle)
    print('X_train is:', X_train, '\n')
    return X_train, X_val, X_test, y_train, y_val, y_test

In [8]:
# echo: fit, validate, and present model

# 2019-02-04 comment: I believe that some sort of advanced regression will be best here, but TBD
# for baseline model, X might include 'id', 'region_code', 'population', 'construction_year'
# IMPORTANT NOTE: 2019-02-06 0830hrs PST: REFACTOR y

train_labels = pd.read_csv('C:\\Users\\jhump\\Desktop\\Desktop_professional\\LSDS\\train_labels.csv')
df2 = train_labels.copy()

# X = df1[['id', 'region_code', 'population', 'construction_year']]
# got much, much lower accuracy score, after refactoring, so will start to 'twiddle' the feature knobs
# first, take out 'id' -> accuracy score: slightly increased, at _0.5579545454545455_
# X = df1[['region_code', 'population', 'construction_year']]

# second, add in 'gps_height' -> accuracy score: not significantly changed
# X = df1[['gps_height', 'region_code', 'population', 'construction_year']]

# third, take 'gps_height' back out, and take out 'region_code' -> accuracy score: 0.5430134680134681
# X = df1[['population', 'construction_year']]
# KEY: thus, need to add in categorical features--onehotencoding as needed

In [9]:
# continue fitting, validating LogReg model
# now, after those 3 trials above, will add 'water_quality' to X -> accuracy score:
X = df1[['population', 'construction_year', 'water_quality']]

# call 'mms' on X after creating X namespace
# mms(X) -- 2019-02-06 0935hrs: attempting pipeline for first time
y = df2.status_group

# X_train, X_test, y_train, y_test = tts(X, y, train_size=0.6, random_state=42)

# log_reg = LogisticRegression().fit(X, y)
# log_reg.fit(X_train, y_train)
# y_pred = log_reg.predict(X_test)
# accuracy_score(y_test, y_pred)

# attempt this after 60% accuracy achieved
train_validation_test_split(X, y)
# pipeline = make_pipeline(
#     ce.OneHotEncoder(use_cat_names=True), 
#     StandardScaler(), 
#     LogisticRegression(solver='lbfgs')
# )

# pipeline.fit(X_train, y_train)
# y_pred = pipeline.predict(X_val)
# accuracy_score(y_val, y_pred)

X_train is:        population  construction_year water_quality
55475         250               1992          soft
17576           0                  0          soft
21427         700               1999          soft
24813           0                  0          soft
13553           0                  0          soft
53494           0                  0          soft
693             0                  0          soft
53315           0                  0          soft
22086           1               2006          soft
54758           0                  0         milky
15481         208               1974          soft
5527            0                  0          soft
47627           0                  0          soft
11701          30               2006          soft
2148            1               1999          soft
49021           0                  0          soft
21353         350               1969          soft
21028           0                  0         salty
23215          60               2005          soft
22909           0                  0          soft
45445           0                  0          soft
16229           0                  0          soft
27316           0                  0          soft
17424          89               1992          soft
46923           0                  0          soft
36544         160               2006          soft
57388           0                  0          soft
43012           0                  0          soft
32802         100               2003          soft
56462         800               1983          soft
...           ...                ...           ...
57617         463               2004          soft
17302           0                  0          soft
11380           1               2010          soft
2087          250               1993         salty
5426          100               2008          soft
54166         350               1996          soft
1315            0                  0         salty
27741         680               1978          soft
11395           0                  0      coloured
54936           1               1976          soft
8480          769               2004          soft
45602           1               1969          soft
25722           0                  0          soft
58805           0                  0          soft
18917           1               1966         salty
20125           0                  0          soft
59394          89               2007          soft
58104          45               1999          soft
2374          135               2006          soft
44232           1               2008          soft
38669           0                  0          soft
12998           0                  0          soft
14168         324               2010          soft
52182           0                  0          soft
40555           0                  0          soft
35043           1               1983          soft
30125           0                  0          soft
34654           0                  0          soft
31701         150               1994         salty
5480          250               1997         salty

[47520 rows x 3 columns]

(       population  construction_year water_quality
 55475         250               1992          soft
 17576           0                  0          soft
 21427         700               1999          soft
 24813           0                  0          soft
 13553           0                  0          soft
 53494           0                  0          soft
 693             0                  0          soft
 53315           0                  0          soft
 22086           1               2006          soft
 54758           0                  0         milky
 15481         208               1974          soft
 5527            0                  0          soft
 47627           0                  0          soft
 11701          30               2006          soft
 2148            1               1999          soft
 49021           0                  0          soft
 21353         350               1969          soft
 21028           0                  0         salty
 23215          60               2005          soft
 22909           0                  0          soft
 45445           0                  0          soft
 16229           0                  0          soft
 27316           0                  0          soft
 17424          89               1992          soft
 46923           0                  0          soft
 36544         160               2006          soft
 57388           0                  0          soft
 43012           0                  0          soft
 32802         100               2003          soft
 56462         800               1983          soft
 ...           ...                ...           ...
 57617         463               2004          soft
 17302           0                  0          soft
 11380           1               2010          soft
 2087          250               1993         salty
 5426          100               2008          soft
 54166         350               1996          soft
 1315            0                  0         salty
 27741         680               1978          soft
 11395           0                  0      coloured
 54936           1               1976          soft
 8480          769               2004          soft
 45602           1               1969          soft
 25722           0                  0          soft
 58805           0                  0          soft
 18917           1               1966         salty
 20125           0                  0          soft
 59394          89               2007          soft
 58104          45               1999          soft
 2374          135               2006          soft
 44232           1               2008          soft
 38669           0                  0          soft
 12998           0                  0          soft
 14168         324               2010          soft
 52182           0                  0          soft
 40555           0                  0          soft
 35043           1               1983          soft
 30125           0                  0          soft
 34654           0                  0          soft
 31701         150               1994         salty
 5480          250               1997         salty

 [47520 rows x 3 columns],        population  construction_year water_quality
 53799           0                  0          soft
 28101         358               2010          soft
 43319         150               1998          soft
 18395         250               1982          soft
 18148           0                  0          soft
 27530           0                  0          soft
 46577           0                  0          soft
 11889          60               1995          soft
 21294           0                  0          soft
 30561        6500               1996          soft
 46698          60               1978          soft
 3906            1               1982          soft
 41634          85               1993          soft
 15874           0                  0       unknown
 42577         300               2000          soft
 4093          100               1993       unknown
 17566           0                  0          soft
 44730           0                  0          soft
 45851        2000               1992          soft
 28475           0                  0          soft
 25180          65               2011          soft
 43122           1               1970       unknown
 10462         500               1998         salty
 30010           0                  0          soft
 23023         360               1982          soft
 46195          25               2007          soft
 21205           0                  0          soft
 43160           0                  0          soft
 43854         370               1996          soft
 25754           0               1990          soft
 ...           ...                ...           ...
 13339           0                  0          soft
 57612         230               2004          soft
 11008           1                  0          soft
 8438            0                  0          soft
 50361         200               2003         salty
 54071           0                  0         salty
 52998          23               1994          soft
 12153           0               1994          soft
 54584           0                  0          soft
 58356         600               1978          soft
 57908           0               1984          soft
 26519           1               2006          soft
 16001          20               2008          soft
 19418          80               2009          soft
 28022         600               2001          soft
 46883         130               1982          soft
 33764         450               1983          soft
 11110           0                  0          soft
 18603           1               1981          soft
 42736          50               2010          soft
 43808         320               2009          soft
 36828          40               2008          soft
 36329         220               2007      fluoride
 16089           1               2010          soft
 22351           0                  0          soft
 36866         100               2009          soft
 19127           0                  0          soft
 9110          250               1994          soft
 1415          350               2002          soft
 42556           0                  0          soft

 [5940 rows x 3 columns],        population  construction_year water_quality
 52664           0               2002          soft
 33197           1               2009          soft
 40085         150               2008          soft
 34522         500               2008      fluoride
 40617           0               2003          soft
 52164          60               2008          soft
 27393          30               2008          soft
 3951            0                  0          soft
 13164           0                  0          soft
 45858         200               1976          soft
 52753           0                  0          soft
 50560           1                  0          soft
 51378           0                  0         milky
 18977           0                  0          soft
 1962          330               1985         salty
 57584          34               1992          soft
 56274         550               1994          soft
 33582         200               2001          soft
 36855          35               2000          soft
 1662          120               1992          soft
 42458        1200               2000          soft
 15429         360               1999          soft
 43621          39               2002          soft
 4442          450               1987          soft
 45454           0                  0          soft
 16966           0                  0      coloured
 11057           0                  0          soft
 37646           0                  0          soft
 40939           0                  0         salty
 21510           0                  0          soft
 ...           ...                ...           ...
 33             70               1992          soft
 19844         102               1980          soft
 15930           1               1985          soft
 44624         180               1985          soft
 7130            1               2010       unknown
 32989          35               1996          soft
 29366           0                  0          soft
 43650           0                  0          soft
 20623         250               2009          soft
 6408            0                  0          soft
 10564           0                  0          soft
 23448           0                  0          soft
 40470         860               1999         salty
 51059         350               2011          soft
 42210           0                  0          soft
 39635         120               2005          soft
 30779          20               2000          soft
 53348        1000               2010          soft
 19912         520               2008          soft
 21910           8               2008          soft
 39660           1               1985          soft
 12119           0                  0          soft
 4311          150               1993          soft
 24249         150               2010      coloured
 16321           0                  0          soft
 38771           0                  0          soft
 28566          60               2011          soft
 34470           0                  0          soft
 12333           0                  0          soft
 4060            1               2000          soft

 [5940 rows x 3 columns], 55475             non functional
 17576                 functional
 21427                 functional
 24813                 functional
 13553                 functional
 53494                 functional
 693               non functional
 53315                 functional
 22086                 functional
 54758                 functional
 15481             non functional
 5527                  functional
 47627                 functional
 11701             non functional
 2148              non functional
 49021             non functional
 21353             non functional
 21028             non functional
 23215                 functional
 22909                 functional
 45445                 functional
 16229                 functional
 27316                 functional
 17424                 functional
 46923             non functional
 36544                 functional
 57388    functional needs repair
 43012                 functional
 32802                 functional
 56462                 functional
                   ...
 57617                 functional
 17302             non functional
 11380                 functional
 2087              non functional
 5426                  functional
 54166             non functional
 1315                  functional
 27741             non functional
 11395             non functional
 54936             non functional
 8480                  functional
 45602             non functional
 25722             non functional
 58805             non functional
 18917                 functional
 20125             non functional
 59394             non functional
 58104                 functional
 2374                  functional
 44232                 functional
 38669                 functional
 12998                 functional
 14168                 functional
 52182                 functional
 40555             non functional
 35043             non functional
 30125             non functional
 34654                 functional
 31701             non functional
 5480                  functional
 Name: status_group, Length: 47520, dtype: object, 53799             non functional
 28101             non functional
 43319             non functional
 18395             non functional
 18148    functional needs repair
 27530                 functional
 46577             non functional
 11889             non functional
 21294                 functional
 30561                 functional
 46698                 functional
 3906              non functional
 41634                 functional
 15874                 functional
 42577                 functional
 4093              non functional
 17566    functional needs repair
 44730                 functional
 45851             non functional
 28475                 functional
 25180                 functional
 43122             non functional
 10462             non functional
 30010                 functional
 23023             non functional
 46195                 functional
 21205             non functional
 43160                 functional
 43854                 functional
 25754                 functional
                   ...
 13339             non functional
 57612                 functional
 11008             non functional
 8438                  functional
 50361                 functional
 54071                 functional
 52998    functional needs repair
 12153             non functional
 54584                 functional
 58356                 functional
 57908                 functional
 26519                 functional
 16001                 functional
 19418             non functional
 28022                 functional
 46883             non functional
 33764             non functional
 11110                 functional
 18603    functional needs repair
 42736                 functional
 43808                 functional
 36828                 functional
 36329                 functional
 16089                 functional
 22351                 functional
 36866                 functional
 19127                 functional
 9110                  functional
 1415                  functional
 42556                 functional
 Name: status_group, Length: 5940, dtype: object, 52664                 functional
 33197                 functional
 40085                 functional
 34522                 functional
 40617                 functional
 52164                 functional
 27393                 functional
 3951                  functional
 13164                 functional
 45858    functional needs repair
 52753                 functional
 50560             non functional
 51378                 functional
 18977             non functional
 1962              non functional
 57584                 functional
 56274    functional needs repair
 33582                 functional
 36855                 functional
 1662              non functional
 42458                 functional
 15429                 functional
 43621                 functional
 4442                  functional
 45454             non functional
 16966                 functional
 11057                 functional
 37646                 functional
 40939                 functional
 21510                 functional
                   ...
 33                    functional
 19844                 functional
 15930                 functional
 44624                 functional
 7130              non functional
 32989                 functional
 29366                 functional
 43650             non functional
 20623                 functional
 6408              non functional
 10564                 functional
 23448             non functional
 40470             non functional
 51059             non functional
 42210    functional needs repair
 39635                 functional
 30779             non functional
 53348                 functional
 19912    functional needs repair
 21910                 functional
 39660    functional needs repair
 12119                 functional
 4311                  functional
 24249                 functional
 16321             non functional
 38771                 functional
 28566                 functional
 34470             non functional
 12333    functional needs repair
 4060              non functional
 Name: status_group, Length: 5940, dtype: object)

In [10]:
# examine log_reg and its methods

In [11]:
# the pseudo-random baseline

print('id', ',', 'status_group')
pumps = X['id']
for pump in pumps[:10]:
    if random.choice(['not_functional', 'functional']) == 'functional':
        print(pump, ',', 'functional')

id , status_group

KeyError: 'id'

In [ ]:
# the simple LogReg baseline for Kaggle csv
# predicted_non_abandoned_pump_count = 0
max_rows = 0

print('id', ',', 'status_group')
pumps = X_test['id']
while max_rows < 14359:
    for pump, pred in zip(pumps, y_pred):
        if pred != 'unknown' and 'abandoned' not in pred and pred != 'salty':
            print(pump, ',', 'functional')
            # predicted_non_abandoned_pump_count += 1
            max_rows += 1

# print('predicted number of unabandoned pumps is:', predicted_non_abandoned_pump_count)
print('number of rows generated is:', max_rows)

In [ ]:
# for further modeling

# faulty_pumps = predict(df1.id, kernel='sigmoid', degree=1, coef0=log_reg.coef_)
# faulty_pumps

In [ ]:
# write LogReg baseline data to csv on local machine, in preparation to push to GitHub then Kaggle
prediction_csv_path = 'C:\\Users\\jhump\\Desktop\\Desktop_professional\\LSDS\\Full_Course\\kaggle-prediction.csv'

with open(prediction_csv_path, 'w') as infile:
    max_rows = 0
    infile.write('id' + ', ' + 'status_group' + '\n')
    pumps = X_test['id']
    while max_rows < 14359:
        for pump, pred in zip(pumps, y_pred):
            if 'abandoned' not in pred and 'unknown' not in pred:
                infile.write(str(pump) + ', ' + 'functional' + '\n')
                max_rows += 1
    infile.close()

In [ ]:
# attempt to understand tanzania-data-kaggle.csv vis a vis Kaggle submission req's
# command line syntax CREDIT to Ryan Herr/LSDS
tanzania_data_kaggle = 'C:\\Users\\jhump\\Desktop\\Desktop_professional\\LSDS\\Full_Course\\tanzania-data-kaggle.csv'

In [ ]:
# 2019-02-06 Based on feedback from Ryan Herr/LSDS, will refactor y above

In [ ]:
# foxtrot: analyze and interpret model predictions